=simple_form_for @assignment do |f|
	=f.input :topic,label:"Topic",class:"form-control"
	=f.collection_select :subject_id, Subject.all,:id,:name, {promt: "Choose a Subject or Add Subject"},class:"form-control",label:"Subject"
	%br/
	=f.collection_select :college_id, College.all,:id,:name, {promt: "Choose a College or Add College"},class:"form-control",label:"College"
	%br/
	=f.input :teacher, label:"Professor", class:"form-control"
	=f.input :description,input_html:{class:'tinymce'}label:"Description",class:"form-control"

	%br/
	%h2 Images
	#tasks
	=f.simple_fields_for :aimages do |aimage|
		=render 'aimage_fields', f: aimage
	.links
		=link_to_add_association 'Add images', f, :aimages,class:"btn btn-default add-button"
	%br/
	=f.submit class: "button"
