- @assignments.each do |assignment|
	%h1=link_to assignment.topic,assignment
	%h2=link_to assignment.teacher
	%p=assignment.description
	%p Submitted
	%strong=time_ago_in_words(assignment.created_at)
	ago
	%br/
	%br/