
<%= div_for(comment) do %>
		<div class="comments_wrapper clearfix">
		<div class="pull-left">
			<p class="lead"><%= comment.body %></p>
			<p>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong></p>
		</div>
		</div>
<%end%>