=simple_form_for(@examnote,html:{multipart: true}) do |f|
	=f.input :topic, label:"Topic", class: "form-control",placeholder: "What is this Examnote about?"
	=f.input :subject,label:"Subject",class:"form-control",placeholder:"Which subject this note concerned with"
	=f.input :tips, label:"Tips", class:"form-control",placeholder:"Give me Some Tips"
	%br/
	%h2 Images
	#tasks
	=f.simple_fields_for :notes do |note|
		=render 'note_fields', f: note
	.links
		=link_to_add_association 'Add Images', f, :notes,class:"btn btn-default add-button"
	%br/
	=f.submit class: "btn btn-primary"
