=form_tag(examnotes_path,method: :get) do
	=text_field_tag :search,params[:search],class:"form-control",placeholder:"Search Examnotes"
	%br/
	=submit_tag("Search",class:"btn btn-primary")
	%br/
	%br/
-if @query.present?
	= @examnotes.count
	results found for
	%strong=@query
	%br/
- @examnotes.each do |examnote|
	%h1=link_to examnote.topic,examnote
	%h3=examnote.subject
	%p=examnote.tips
	%p Submitted
	%strong=time_ago_in_words(examnote.created_at)
	ago
	%br/
	%br/