.container
	.jumbotron
		%h2 So what the fuss is all about?
		%p Well, are you one of those lazy students who waits for the deadline to get started with the assignments? Do you like copying stuff more than actually doing it? Guess what! You are at the right place!
		%hr/
		%h2 What do we have for you?
		%pProvides a platform for you and your classmates to share exam notes, assignments and question papers all at one place! Get notified for all the deadlines, events and recent stuff that’s going on in your college while you have fun bunking. 
		%hr/
		%h2 What to do?
		%p Just sign upwith us and get started!