=form_tag(colleges_path,method: :get) do
	=text_field_tag :search, params[:search],placeholder:"Search Colleges",class:"form-control"
	%br/
	=submit_tag("Search",class:"btn btn-primary")
	%br/
	%br/
-if @query.present?
	= @colleges.count
	results found for
	%strong=@query.to_s
	%br/

-@colleges.each do |college|
	%h1= college.name
	%p=college.address
	=link_to "Practicals",practicals_path(:college=>college.id),class:"btn btn-primary"
	=link_to "Examnote",examnotes_path(:college=>college.id),class:"btn btn-success"
	=link_to "Edit",edit_college_path(college),class:"btn btn-info"
	=link_to "Delete", college,method: :delete,data:{confirm:"Are you sure?"},class:"btn btn-danger"
	%hr/