=simple_form_for(@thesis,url:{action: "create",controller:"thesiss"},html:{multipart: true}) do |f|
	=f.input :topic, label:"Topic", class: "form-control",placeholder: "What is this Thesis about?"
	=f.input :subject,label:"Subject",class:"form-control",placeholder:"Which subject this thesis is concerned with"
	=f.input :publisher, label:"Publisher", class:"form-control"
	=f.input :duration,label:"Duration",class:"form-control"
	=f.input :reasearchers,label:"Researchers",class:"form-control"
	=f.input :description, label:"Description",class:"Form-control"
	%br/
	%h2 Images
	#tasks
	=f.simple_fields_for :thesisimages do |thesisimage|
		=render 'thesisimage_fields', f: thesisimage
	.links
		=link_to_add_association 'Add Images', f, :thesisimages,class:"btn btn-default add-button"
	%br/
	=f.submit class:"btn btn-primary"