=form_tag(thesiss_index_path,method: :get) do
	=text_field_tag :search,params[:search],class:"form-control",placeholder:"Search Thesis"
	%br/
	=submit_tag("Search",class:"btn btn-primary")
	%br/
	%br/
-if @query.present?
	= @thesiss.count
	results found for
	%strong=@query
	%br/

- @thesiss.each do |thesis|
	%h1=link_to thesis.topic,thesiss_path(thesis)
	%h3=thesis.subject
	%pSubmitted
	%strong=time_ago_in_words(thesis.created_at)
	
	ago
	%br/
	%br/