=simple_form_for(@qpaper,html:{multipart: true}) do |f|
	=f.input :examname, label: "Examname", class: "form-control",placeholder:"Aim is first Impression"
	%br/
	=f.collection_select :subject_id, Subject.all,:id,:name, {promt: "Choose a Subject or Add Subject"},class:"form-control"
	%br/
	=f.collection_select :college_id, College.all,:id,:name, {promt: "Choose a Subject or Add Subject"},class:"form-control"
	%br/
	=f.input :date,class:"form-control"
	%br/
	=f.input :teacher,class:"form-control"
	%br/
	=f.submit class: "button"
