!!! 5
%html
%head
	%title CWeCan
	=stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track'=>true
	=javascript_include_tag 'application','data-turbolinks-track'=>true
	=csrf_meta_tags
	%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}/
	=favicon_link_tag('favicon')
%body
	=render('fb')
	%nav.navbar.navbar-default
		.container
			.navbar-brand=link_to "CWeCan",practicals_path
			%ul.nav.navbar-nav.navbar-right
				%li=link_to "New Practical",new_practical_path

	.container
		-if flash.any?
			-flash.each do |name,msg|
				=content_tag :div, msg,class: "alert alert-info"
		=yield
