!!! 5
%html
%head
	%title BePractical
	=stylesheet_link_tag 'application', media: "all", 'data-turbolinks-track'=>true
	=javascript_include_tag 'application','data-turbolinks-track'=>true
	=csrf_meta_tags
	=favicon_link_tag('favicon')
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand=link_to "BePractical","#"
	.container
		-if flash.any?
			-flash.each do |name,msg|
				=content_tag :div, msg,class: "alert alert-info"
		=yield
